 hr{
    background-color: #000000;
    height: 2px;
}

 #form_ajax_error, .errorlist > li{
    color: red;
    list-style: none;
}

#loading{
    display: none;
}

#form_ajax{
    display: none;
}

#form_ajax_error{
    display: none;
}

input.priority{
   width: 40px;
}