{% extends "hello/index.html" %}
{% load staticfiles %}

{% block title %}Edit person page{% endblock %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.min.js' %}"></script>
    {{ form.media }}
{% endblock extra_head %}

{% block content %}
    <h1 class="text-center">42 Coffee Cups Test Assignment</h1>
    <div class="container">
        <form action="{% url 'edit_person' %}" method="post" enctype="multipart/form-data" id="editform">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="col-md-5">
                    <div class="main">
                        <div class="field">
                            <p>
                                {{ form.first_name.errors }}
                                <label for="{{ form.first_name.id_for_label }}">First name:</label>
                                {{ form.first_name }}
                            </p>
                            <p>
                                {{ form.last_name.errors }}
                                <label for="{{ form.last_name.id_for_label }}">Last name:</label>
                                {{ form.last_name }}
                            </p>

                            <p>
                                {{ form.date_of_birth.errors }}
                                <label for="{{ form.date_of_birth.id_for_label }}">Date of birth:</label>
                                {{ form.date_of_birth }}
                            </p>
                            <p>
                                <label for="{{ form.photo.id_for_label }}">Photo:</label>
                                {{ form.photo }}
                            </p>
                        </div>
                    </div>
                    {% if contact.photo %}
                        <img id="contact_photo_id" src="{{ contact.photo.url }}" />
                    {% else %}
                        <img src="{% static 'img/img.png' %}" />
                    {% endif %}

                </div>
                <div class="col-md-5">
                    <div class="main">
                        <div class="field">
                            <p>{{ form.email.errors }}
                                <label for="{{ form.email.id_for_label }}">Email:</label>
                                {{ form.email }}
                            </p>
                            <p>
                                {{ form.jabber.errors }}
                                <label for="{{ form.jabber.id_for_label }}">Jabber:</label>
                                {{ form.jabber }}
                            </p>
                            <p>
                                {{ form.skype.errors }}
                                <label for="{{ form.skype.id_for_label }}">Skype:</label>
                                {{ form.skype }}
                            </p>
                        </div>
                    </div>
                    <p>
                        {{ form.other.errors }}
                        <label for="{{ form.other.id_for_label }}">Other contacts:</label>
                        {{ form.other }}
                    </p>
                    <p>
                        {{ form.bio.errors }}
                        <label for="{{ form.bio.id_for_label }}">Bio:</label>
                        {{ form.bio }}
                    </p>
                </div>
            </div>
            <br>
            <input type="submit" value="Save" class="btn btn-primary" id="sendbutton"/>
            <input type="hidden" name="next" value="/" />
            <a id="index" href="{% url 'index' %}">Cancel</a>
        </form>
    </div>
{% endblock %}