{% extends "hello/index.html" %}
{% load staticfiles %}

{% block title %}Edit person page{% endblock %}

{% block content %}
    <h1 class="text-center">42 Coffee Cups Test Assignment</h1>
    <div class="container">
        <form action="{% url 'edit_person' %}" method="post" enctype="multipart/form-data" id="editform">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-5">
                    <div class="main">
                        <div class="field">
                            <p>
                                <label for="id_first_name">First name:</label>
                                <input class="form-control" id="id_first_name" name="first_name" value="Anatolii" type="text">
                            </p>
                            <p>
                                <label for="id_last_name">Last name:</label>
                                <input class="form-control" id="id_last_name" name="last_name" value="Soroka" type="text">
                            </p>

                            <p>
                                <label for="id_date_of_birth">Date of birth:</label>
                                <input class="form-control" id="id_date_of_birth" name="date_of_birth" value="1981-02-21" type="text">
                            </p>
                            <p>
                                <label for="id_photo">Photo:</label>
                                <input id="id_photo" name="photo" type="file" />
                            </p>
                        </div>
                    </div>
                    <img id="contact_photo_id" src="{% static 'img/img.png' %}" />

                </div>
                <div class="col-md-5">
                    <div class="main">
                        <div class="field">
                           <p>
                                <label for="id_email">Email:</label>
                                <input class="form-control" id="id_email" maxlength="75" name="email" type="text" value="sorokaanatolii@gmail.com" />
                            </p>
                            <p>

                                <label for="id_jabber">Jabber:</label>
                                <input class="form-control" id="id_jabber" maxlength="75" name="jabber" type="text" value="a-soroka@khavr.com" />
                            </p>
                            <p>

                                <label for="id_skype">Skype:</label>
                                <input class="form-control" id="id_skype" maxlength="250" name="skype" type="text" value="s-sorael" />
                            </p>
                        </div>
                    </div>
                    <p>
                        <label for="id_other">Other contacts:</label>
                        <textarea class="form-control" cols="40" id="id_other" name="other" rows="3">Mobile phone: +380684021358</textarea>
                    </p>
                    <p>
                        <label for="id_bio">Bio:</label>
                        <textarea class="form-control" cols="40" id="id_bio" name="bio" rows="3">Junior Python/Django</textarea>
                    </p>
                </div>
            </div>

            <input type="submit" value="Save" class="btn btn-primary" id="sendbutton"/>
            <input type="hidden" name="next" value="/" />
            <a id="index" href="{% url 'index' %}">Cancel</a>
        </form>
    </div>
{% endblock %}