{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Person page{% endblock title %}

{% block content %}
    {% if contact %}
        <h1 class="text-center">42 Coffee Cups Test Assignment</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <br>
                    <div>{{ contact.first_name }}</div>
                    <div>{{ contact.last_name }}</div>
                    <div>{{ contact.date_of_birth }}</div>
                    <div>Photo:</div>
                    {% if contact.photo %}
                        <img src="{{ contact.photo.url }}" />
                    {% else %}
                        <img src="{% static 'img/img.png' %}" />
                    {% endif %}
                </div>
                <div class="col-md-5">
                    <div>Contacts</div>
                    <div>Email: {{ contact.email }}</div>
                    <div>Jabber: {{ contact.jabber }}</div>
                    <div>Skype: {{ contact.skype }}</div>
                    <div>Other contacts:</div>
                    {{ contact.other|linebreaks }}
                    <div>Bio:</div>
                    {{ contact.bio|linebreaks }}
                </div>
                <div class="col-md-2">
                    {% if user.is_authenticated %}
                        <p><a href="{% url 'edit_person' %}">Edit</a></p>
                        <p><a href="{% url 'logout' %}">Logout</a></p>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-center">Database is empty!</h1>
    {% endif %}
{% endblock content %}

{% block tail %}
    <div class="container">
        <hr>
        <div>
            <a href="{% url 'requests' %}">Requests</a>
        </div>
    </div>
{% endblock tail %}