{% extends "base.html" %}

{% load staticfiles %}

{% block extra_head %}
    <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/req_ajax.js' %}"></script>
{% endblock extra_head %}

{% block title %}Requests{% endblock %}
{% block content %}
    <h1 class="text-center">Requests</h1>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date & Time</th>
                    <th>HTTP method</th>
                    <th>File path</th>
                    <th>Protocol version</th>
                    <th>HTTP status code</th>
                    <th>Content lenth</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr id="{{ request.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ request.date_time }}</td>
                    <td>{{ request.method }}</td>
                    <td>{{ request.file_path }}</td>
                    <td>{{ request.ver_protocol }}</td>
                    <td>{{ request.status }}</td>
                    <td>{{ request.content }}</td>
                    <td><input class="priority"  type="number" min="1" max="3"
                               id="p{{ request.id }}"
                               value="1"/></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}